/*
0 - 600px: Phone

600px - 900px: Tablet-Portrait

900px - 1200 px: Tablet-Landscape

[1200px - 1800px]: Normal styling

1800px + : Large desktop

Good working order: Base & Typography -> General Layout & Grid -> Page Layout -> Components

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes growFromCenter {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes spinIn {
  0% {
    transform: rotate(0deg) scale(0.1); }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1; } }

@-webkit-keyframes backgroundMove {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes backgroundMove {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes backgroundMove {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* Reset CSS for cross-browser compatibility */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* allows other elements to inherit box-sizing specified in body */
  box-sizing: inherit; }

html {
  /* this makes it a lot easier to calcute rem. 62.5 is 10/16 so our defualt fontsize is relative to user settings. defines what 1 rem is */
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 45%; } }

body {
  /* makes it so that padding and width don't add to total size of element. i.e. height and width will now extend to define other parts of the box model */
  box-sizing: border-box; }

body {
  font-family: 'Slabo 27px', serif;
  font-weight: 400px;
  line-height: 1.7; }

.autosuggest {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .autosuggest__container {
    position: relative;
    flex-grow: 1; }

.react-autosuggest__container {
  position: absolute;
  width: 95%; }
  .react-autosuggest__container--focused {
    position: absolute; }
  .react-autosuggest__container--open {
    position: absolute; }

.react-autosuggest__suggestions-container {
  background-color: #170D3D;
  color: #C2C067;
  width: 80%;
  margin: auto;
  z-index: 100;
  position: relative; }

.react-autosuggest__suggestions-list {
  list-style: none; }

.react-autosuggest__suggestion {
  padding: 5px; }
  .react-autosuggest__suggestion:not(:last-child) {
    border-bottom: solid white 1px; }

.react-autosuggest__input {
  border-radius: 2rem;
  padding: 1rem 4rem;
  width: 100%;
  background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png") no-repeat 16px;
  background-size: 16px; }

.react-autosuggest__input:focus {
  outline: none; }

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 1.3rem;
  border-radius: 5rem;
  padding: 1rem 4rem;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, #40356e 0%, #40356e 50%, #170D3D 50%);
  background-size: 245%;
  transition: all .4s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  color: white; }
  .button:hover {
    background-position: 99%;
    color: #9F9E41;
    transform: scale(1.1);
    cursor: pointer; }
  .button:active {
    transform: translateY(2px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4); }

.input {
  border-radius: 2rem;
  padding: 1rem; }

.nav {
  background-color: #9F9E41;
  color: white;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1rem 1.6rem rgba(0, 0, 0, 0.4); }
  .nav__logo {
    margin-left: 3rem;
    height: 100%; }
    .nav__logo--img {
      width: auto;
      height: 100%; }
  .nav__search {
    width: 40%;
    position: relative; }
    .nav__search--icon {
      color: rgba(150, 150, 150, 0.8);
      font-size: 2rem;
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 52; }

.source {
  display: inline-block;
  margin: 5px auto 15px;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 50px;
  padding: 10px 40px;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, #40356e 0%, #40356e 50%, #9F9E41 50%);
  background-size: 245%;
  transition: all .4s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); }
  .source:hover {
    background-position: 99%;
    color: white;
    transform: scale(1.1);
    cursor: pointer; }
  .source:active {
    transform: translateY(2px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4); }

.story {
  display: table;
  border: solid 2px black;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  background-color: gainsboro;
  width: 80%; }
  @media (max-width: 75em) {
    .story {
      width: 100%; } }
  .story__left {
    display: table-cell;
    width: 25%; }
  .story__right {
    display: table-cell;
    width: 75%;
    vertical-align: middle;
    padding: 0;
    position: relative; }
  .story__headline {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem; }
    @media (max-width: 56.25em) {
      .story__headline {
        top: 2px;
        font-size: 18px; } }
  .story__img {
    max-height: 30rem;
    max-width: 100%;
    float: left; }
    @media (max-width: 37.5em) {
      .story__img {
        max-height: 30rem;
        margin-bottom: 20rem; } }
  .story__description {
    float: left;
    margin-left: 1rem; }
    @media (max-width: 56.25em) {
      .story__description {
        margin-top: 1rem;
        font-size: 12px; } }
  .story__link {
    text-decoration: none;
    color: black; }

.home__container--main {
  background-color: #5A4F86; }

.home__container--stories {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
