.autosuggest {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
}


// FOR AUTOSUGGEST LIBRARY
.react-autosuggest__container > * :not(.react-autosuggest__input) {
  background-color: black;
  border-bottom: solid white 1px;
  z-index: 50;
  position: relative;
list-style: none;

}

.react-autosuggest__input:focus {
  outline: none;
}

// AUTOSUGGEST
.react-autosuggest__input {
  border-radius: 2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.4); 
  margin: 2rem;
  width: 10rem;
  padding: 5px;
}