.nav {
  background-color: $color-secondary;
  color: white;
  height: 8rem;
  display: flex;
  justify-content: space-between;

  &__logo {
    margin-left: 3rem;

    &--img {
      width: auto;
      height: 100%;
    }
  }

  &__search {

  }

  &__auth {

  }
}
