.source {

    display: inline-block;
    margin: 5px auto 15px;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 50px;
    padding: 10px 40px;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, $color-primary 0%, $color-primary 50%, $color-secondary 50%);
    background-size: 245%;
    transition: all .4s;
    box-shadow: 0 10px 20px rgba(0,0,0,.4);
  
  &:hover{
    background-position: 99%;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 5px 20px rgba(0,0,0,.4);
  }
}