//COLORS

// $color-primary: #02B902;
$color-primary: #40356e;
$color-primary-dark: #094074;

$color-secondary: #9F9E41;
$color-secondary-dark: rgb(216, 115, 20);
$color-secondary-light: rgb(0,0,0);

$color-link: rgb(53, 216, 20);

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;
